*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(82, 80, 88);
}

#container {
    display:flex;
    flex-direction: column;
    gap:10px;
    padding: 10px;
}

header{
    background: white;
    text-align: center;
    padding: 20px;
}

#conteudo{
    background: rgb(40, 102, 107);
    color: white;
    text-align: center;
    padding: 100px;
    flex: 1;
}

#conteudo article{
  display: flex;
  flex-direction: column;
  text-align: center;  
}

aside{
    background: rgb(225, 180, 180);
    padding: 20px;
    flex: 2;
    color: white;
}
footer{
    background: rgb(172, 224, 138);
    padding: 40px;
    color: white;
}
/* responsividade */

@media(min-width: 700px) {
    #container{
        flex-direction: colum;
    }
    #conteudoAside{
        display: flex;
        flex-grow: 1;
    }
    #conteudo{
        flex: 2;
    }
    aside{
        flex: 1;
    }
}