/* SELETOR UNIVERSAL - RESET BÁSICO */

*{

    margin:0; /*zera todos os lados da margem*/
    padding:0; /*zera todos os lados do espaçamentos*/
    box-sizing: border-box; /*altera a forma de largura e altura de um elemento*/

}

h1{
    color:red;
    font-size:35px;
}

